/* Alert */

#alert {
    position: fixed;
    bottom: 15px;
    right: 15px;
    max-width: 40%;
}

.alert {
    display: none;
    padding: 18px;
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 10px;
}

@media screen and (min-width: 780px) {
    #alert {
        max-width: 25%;
    }
}

.alert .fa-times {
    width: 10%;
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    text-align: right;
}

.alert.show {
    display: flex;
    flex-direction: row;
}

.alert.hide {
    display: flex;
    animation: hide 3s forwards;
}

.alert.message {
    background-color: #1976d2;
    color: white;
}

.alert.error {
    background-color: #b71c1c;
    color: white;
}

.alert.warning {
    background-color: #f9a825;
    color: #303030;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.alert .message {
    width: 90%;
}


/* ProgressBar */