html {
    --basic: #1976d2;
    --basic-font: white;
    --basic-transparent: #3d89d4;
    --warning: #f9a825;
    --warning-font: #303030;
    --warning-transparent: #fbc772;
    --error: #b71c1c;
    --error-font: white;
    --error-transparent: #da4141;
}


/* Alert */

#alert {
    position: fixed;
    bottom: 15px;
    right: 15px;
    max-width: 40%;
}

.alert {
    display: none;
    padding: 18px;
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 10px;
}

@media screen and (min-width: 780px) {
    #alert {
        max-width: 25%;
    }
}

.alert .fa-times {
    width: 10%;
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    text-align: right;
}

.alert.show {
    display: flex;
    flex-direction: row;
}

.alert.hide {
    display: flex;
    animation: hide 3s forwards;
}

.alert.basic {
    background-color: var(--basic);
    color: var(--basic-font);
}

.alert.error {
    background-color: var(--error);
    color: var(--error-font);
}

.alert.warning {
    background-color: var(--warning);
    color: var(--warning-font);
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.alert .message {
    width: 90%;
}


/* ProgressBar */

.progressBar {
    width: calc(100% - 30px);
    border-radius: 25px;
    height: 25px;
    padding: 7px;
    background-color: #424242;
    box-shadow: 0px 0px 4px 1px #424242;
    margin: 10px;
}

.progress {
    height: 100%;
    animation: move 2s linear infinite;
    border-radius: 25px;
}

.progress.basic {
    background-color: var(--basic);
}

.progress.error {
    background-color: var(--error);
}

.progress.warning {
    background-color: var(--warning);
}

.progress.basic.striped {
    background: repeating-linear-gradient(-45deg, var(--basic) 25%, var(--basic-transparent) 50%, var(--basic) 75%, var(--basic-transparent));
    background-size: 50px 50px;
}

.progress.error.striped {
    background: repeating-linear-gradient(-45deg, var(--error) 25%, var(--error-transparent) 50%, var(--error) 75%, var(--error-transparent));
    background-size: 50px 50px;
}

.progress.warning.striped {
    background: repeating-linear-gradient(-45deg, var(--warning) 25%, var(--warning-transparent) 50%, var(--warning) 75%, var(--warning-transparent));
    background-size: 50px 50px;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 0px;
    }
}